page-view-note {
   .masters {
background-image: url("http://hdqwalls.com/wallpapers/material-design-hd-wallpaper.jpg");
background-size: cover;

    }
    .header-class{
      padding-bottom:10px;
      font-weight:500;
      font-size:2em;
      margin-bottom:20px;
      color:rgb(216, 11, 79);
      text-transform: uppercase;

    }
    .note-date{
        font-size: 15px;
        color: #888;
        margin-bottom: 12px;
    }
}
